.third {
    background-color: rgba(6, 17, 5, 0.85);
    color: #eee;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 600;
    text-align: center;
}

.icons {
    margin: 20px;
    margin-bottom: 0;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
}

.icon {
    margin: 20px;
    text-align: center;
}

@media(max-width: 876px) {
    .icon {
        margin: 0;
    }
}